@import "variables";
@import "mixin";

.carousel {
	.carousel-slider {
		height: 80vh;
	}
	.carousel-item>img {
			width: 50%;
			height: 55vh;
		}
}

.boton {
	background: $amarilloBotones;
}

.boton-slide {
	margin-top: 2%;
}

.contendor-slide {
	height: 80vh;
}

.ingresa-codigo {
	
}