@import "variables";
@import "mixin";

.carousel {
	.carousel-slider {
		height: 80vh;
	}
	.carousel-item>img {
		width: 50%;
		height: 55vh;
	}
}

.boton {
	background: $amarilloBotones;
}

.boton-slide {
	margin-top: $top;
}

.contendor-slide {
	height: 80vh;
}

.contenedor-registro {
	.__titulo {
		font-size: 1.5em;
	}
	.__icono {
		max-width: 70%;
		margin-top: $top;
	}
}

.contenedor-codigo {
	.__titulo {
		font-size: 1em;
	}
	.__icono {
		max-width: 70%;
		margin-top: $top;
	}
}